asgiref==3.7.2
astroid==2.9.3
atomicwrites==1.4.0
attrs==21.4.0
Brotli==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
dj-database-url==3.0.1
Django==4.2.7
djangorestframework==3.14.0
gunicorn==23.0.0
h11==0.16.0
hypothesis==6.35.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.0.3
kaleido==0.2.1
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
networkx==2.7.1
numpy==1.22.3
packaging==21.3
platformdirs==2.4.1
plotly==5.5.0
pluggy==1.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.10
py==1.11.0
pycodestyle==2.8.0
pygame==2.1.2
Pygments==2.11.2
pylint==2.12.2
pyparsing==3.0.6
pytest==6.2.5
python-ta==2.2.0
pytz==2023.3.post1
requests==2.27.1
scipy==1.8.0
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.4.4
tenacity==8.0.1
toml==0.10.2
typeguard==2.13.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.8
uvicorn==0.35.0
whitenoise==6.9.0
wrapt==1.13.3
