.min-vh-100 {
    min-height: 100vh;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.full-height {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-width-card {
    min-width: 50vw; /* Set the minimum width to 50% of the viewport width */
}